<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        type="text"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a valid title</mat-error
      >
    </mat-form-field>
    <div class="">
      <button (click)="filePicker.click()" mat-stroked-button type="button">
        Pick Image
      </button>
      <input #filePicker type="file" (change)="onImagePicked($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter a valid content</mat-error
      >
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">
      save post
    </button>
  </form>
</mat-card>
