<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        ngModel
        name="title"
        required
        placeholder="Post Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        ngModel
        name="content"
        #content="ngModel"
        placeholder="Post Content"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter a valid content</mat-error
      >
    </mat-form-field>
    <button color="accent" mat-raised-button type="submit">
      save post
    </button>
  </form>
</mat-card>
